name: sourcepoint_unified_cmp

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - ".github/workflows/sourcepoint_unified_cmp.yaml"
      - "packages/sourcepoint_unified_cmp/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/sourcepoint_unified_cmp.yaml"
      - "packages/sourcepoint_unified_cmp/**"

jobs:
  fvmrc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: get fvmrc
        id: fvmrc
        uses: ActionsTools/read-json-action@v1.0.5
        with:
          file_path: ".fvmrc"

  spell-check:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/spell_check.yml@v1
    with:
      includes: |
        **/*.md
        !brick/**/*.md
        .*/**/*.md
      modified_files_only: false
      config: cspell.json

  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/flutter_package.yml@v1
    needs: fvmrc
    with:
      setup: |
        echo "Setup Melos..."
        dart pub global activate melos
        echo "Setup Melos... Done"
        echo "removing fvm from melos.yaml"
        sed -i 's/^\(sdkPath:.*\)$/# \1/' ../../melos.yaml
        echo "removing fvm from melos.yaml... Done"
        echo "bootstraping packages..."
        melos bootstrap
        echo "bootstraping packages... Done"
      flutter_channel: stable
      flutter_version: ${{needs.fvmrc.outputs.flutter}}
      working_directory: packages/sourcepoint_unified_cmp
      min_coverage: 40

  pana:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/pana.yml@v1
    with:
      min_score: 120

  android:
    runs-on: macos-latest
    if: false # for now we don't run android tests

    defaults:
      run:
        working-directory: packages/sourcepoint_unified_cmp/example

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "11"

      - uses: subosito/flutter-action@v2

      - name: AVD Cache
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-29

      - name: Cache AVD Snapshot
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

  ios:
    runs-on: macos-latest
    if: false # for now we don't run ios tests

    defaults:
      run:
        working-directory: packages/sourcepoint_unified_cmp/example

    steps:
      - uses: actions/checkout@v5

      - uses: subosito/flutter-action@v2

      - name: Start Simulator
        # Start an iPhone simulator
        run: |
          UDID=$(xcrun xctrace list devices | grep "^iPhone" | awk '{gsub(/[()]/,""); print $NF}' | head -n 1)
          echo $UDID
          xcrun simctl boot "${UDID:?No Simulator with this name found}"
